<div class="container">
    <div class="header" id="logo">
      <a href="{{ index }}"><img src="./app/assets/images/logo.png" alt="logo"></a>
      <div id="contact">
        <i class="fa fa-phone pull-right"> +45 22108877</i>
        <i class="fa fa-envelope-o pull-right"> LORUM@BACON.COM</i>
        <i class="fa fa-shopping-basket">
          <input type="button" value=" $ 99.68  CHECKOUT">
        </i>
      </div>
    </div>
    <div class="menu">
      <ul class="nav nav-pills pull-left">
        <li><a [routerLink]="['index']">Home</a></li>
        <li><a [routerLink]="['men']">Men</a></li>
        <li><a [routerLink]="['women']">Women</a></li>
        <li><a [routerLink]="['kids']">Kids</a></li>
        <li><a [routerLink]="['sale']">Sale</a></li>
        <li><a [routerLink]="['about']">About us</a></li>
        <li><a routerLink="/contact" routerLinkActive="active">Contact us</a></li>
      </ul>
      <form class="navbar-form navbar-right">
        <div class="form-group">
          <span class="glyphicon glyphicon-search" id="searchIcon" aria-hidden="true"></span>
          <input type="text" id="searchF" class="form-control" placeholder="Search...">
        </div>
      </form>
    </div>
</div>

<div id="orange"></div>