

<div class="container" id="footer">
    <div class="col-md-4" id="blog">
      <h4>OUR STORES</h4>
      <p>Feel free to visit our stores or contact us
      Vinegade 109  5000 Odense  39886622
      Vestergade 910  3000 Aalborg 96819191
      </p>
       <div class="row">
         <i class="fa fa-facebook" aria-hidden="true"></i>
         <i class="fa fa-twitter" aria-hidden="true"></i>
         <i class="fa fa-google" aria-hidden="true"></i>
         <i class="fa fa-vimeo" aria-hidden="true"></i>
         <i class="fa fa-rss" aria-hidden="true"></i>
       </div>
    </div>

    <div class="col-md-4" id="blog">
      <h4>BLOG POSTS</h4>
      <div>
        <h3>Bacon ipsum dolor</h3>
        delicouse bacon, In picanha turducken beef ribs ribeye pork loin, labore sirloin ex enim
      </div>
      <div>
        <h3>Bacon ipsum dolor</h3>
        delicouse bacon, In picanha turducken beef ribs ribeye pork loin, labore sirloin ex enim
      </div>
      <div>
        <h3>Bacon ipsum dolor</h3>
        delicouse bacon, In picanha turducken beef ribs ribeye pork loin, labore sirloin ex enim
      </div>
    </div>

    <div class="col-md-4" id="blog">
      <h4>SUPPORT</h4>
        <div id="supportRow">
          <div>
            Terms and Condition
            FAQ
            Payment
            Refunds
            Track Order
            Services
            Privacy and Security
            Careers
            Press
            Corporate Information
          </div>
          <div>
            Sizing
            Ordering
            Shipping
            Return Policy
            Affliates
            Find A Store
            Site Map
            Sign Up and Save
          </div>
        </div>
    </div>
</div>