<div class="container" id="cta">
    <div id="cta_child" class="col-md-4 footerChild">
      <img src="./app/assets/images/footballshoes.png" alt="footballshoes"> 
      <a href="#">
        <div>Shoes</div>
      </a>
      <div>Buy your new bags here!</div>
    </div>

    <div id="cta_child" class="col-md-4 footerChild">
      <img src="./app/assets/images/bags.png" alt="bags">
      <a href="#">
        <div>Bags</div>
      </a>
      <div>Buy your new bags here!</div>
    </div>

    <div id="cta_child" class="col-md-4 footerChild">
      <img src="./app/assets/images/modernclothes.png" alt="mdclothes">
      <a href="#">
        <div>Clothes</div>
      </a>
      <div>Buy! Buy! Buy! Buy! Buy! Buy!</div>
    </div>
</div>