



  <div class="container"> 
    <section>
    <div class="row">
      <!-- main slider carousel -->
 
        <div class="col-md-6" id="slider">
            
                <div class="col-md-12" id="carousel-bounding-box">
                    <div id="myCarousel" class="carousel slide">
                        <!-- main slider carousel items -->
                        <div class="carousel-inner" id="inner">
                            <div class="active item" data-slide-number="0">
                                <img src="images/shoe.png" class="img-responsive">
                            </div>
                            <div class="item" data-slide-number="1">
                              <img src="images/shoe1.png" class="img-responsive">
                            </div>
                            <div class="item" data-slide-number="2">
                                <img src="images/shoe2.png" class="img-responsive">
                            </div>
                        </div>
                    </div>
                </div>
        </div>

        <div class="col-md-6" id="details">

          <div>
            <h3>GEL-INFUSED SUPER SHOE</h3>
          </div>

          <div id="aPrice">
            <img src="images/asics.png" alt="asicsLogo">
            <h2>$ 978.98</h2>
          </div>

          <div id="save" class="pull-right">
              text
              more text
          </div>

          <div id="size">
            <div class="form-group col-md-6">
              <label for="sel1">Select list:</label>
                <select class="form-control" id="sel1">
                  <option>1</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                 </select>
              </div>
              <input type="text" value="0" class="col-md-3">
           </div>

          </div>
          <div>
            <button id="buy" class="col-md-2 pull-right">
              BUY
            </button>
          </div>
        </div>

    <div class="col-md-6 hidden-sm hidden-xs" id="slider-thumbs">
        
            <!-- thumb navigation carousel items -->
          <ul class="list-inline">
          <li> <a id="carousel-selector-0" class="selected">
            <img src="images/shoe.png" class="img-responsive">
          </a></li>
          <li> <a id="carousel-selector-1">
            <img src="images/shoe1.png" class="img-responsive">
          </a></li>
          <li> <a id="carousel-selector-2">
            <img src="images/shoe2.png" class="img-responsive">
          </a></li>
            </ul>
    </div>
      






  <div class="col-md-12">
      
      <ul class="nav nav-tabs">
            <li id="tabs" class="active"><a data-toggle="tab" href="#home">Home</a></li>
            <li id="tabs"><a data-toggle="tab" href="#menu1">Menu 1</a></li>
            <li id="tabs"><a data-toggle="tab" href="#menu2">Menu 2</a></li>
      </ul>

        <div class="tab-content">

          <div id="home" class="tab-pane fade in active">
            <h3>HOME</h3>
            Some content.
          </div>

          <div id="menu1" class="tab-pane fade">
            <h3>Menu 1</h3>
            Some content in menu 1.
          </div>

          <div id="menu2" class="tab-pane fade">
            Some content in menu 2.
          </div>

        </div>

    </div>
    </section>
</div>




